#gameCanvas {
  border: 2px solid gray;
  border-radius: 10px;
  margin: 0 auto;
  background: aquamarine;
}

body {
  background: #b6f1fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#play {
  margin: 0 auto;
  width: 100px;
  background: #ffd265;
}

h1 {
  padding: 10px;
  font-size: 40px;
}
