#gameCanvas {
  border: 2px solid gray;
  border-radius: 10px;
  margin: 0 auto;
  background: aquamarine;
}

body {
  background: #b6f1fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#play {
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  font-weight: bolder;
  width: 100px;
  background: #c568a5;
  border-radius: 8px;
  width: 100px;
  border: 2px solid gray;
}

#play:hover {
  background: rgb(213, 147, 191)
}

h1 {
  padding: 10px;
  font-size: 40px;
}

.interface {
  display: flex;
  flex-direction: row;
  width: 650px;
}

.directions{
  background: #bcff7c;
  padding: 10px;
  width: 395px;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 10px;
  font-size: 11px;
}

.gameplay {
  background: #bcff7c;
  padding: 10px;
  width: 205px;
  margin: 10px;
  border: 2px solid gray;
  border-radius: 10px;
}

.gameplay h2 {
  display: inline;
}
